@import url("https://fonts.cdnfonts.com/css/giorgio-sans-trial");
@import url("https://fonts.cdnfonts.com/css/univers-lt-std");

* {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  height: 4100px;
  background-color: #011ea0;
  margin: 0;
  overflow-x: hidden;
}

/* Go To Top Button */
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #011ea0;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
/* Loading Screen */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011ea0;
  transition: opacity 0.75s, visibility 0.75s;
}
.hide-loader {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: black;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Global Navbar */
.inter-logo {
  width: 65px;
  height: 65px;
  margin-left: 30px;
  margin-top: 10px;
}
.global-navbar {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Univers LT Std", sans-serif;
  font-weight: 500;
  justify-content: space-between;
  margin: 20px;
}
.navbar-links {
  margin-right: 35px;
}
.navbar-links a {
  position: relative;
  display: inline-block;
  margin-left: 40px;
  margin-top: 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  color: white;
}
.navbar-links a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.navbar-links a:hover::after {
  background-color: white;
  transform: translateX(0);
}
.navbar-links a:hover {
  color: white;
}

/* Main Headline */
.main-headline {
  border-bottom: 15px solid white;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 100px;
}
.main-headline h1 {
  font-family: "Giorgio Sans Trial", sans-serif;
  color: white;
  font-size: 170px;
  cursor: default;
}

/* Discover More */
.discover-more {
  display: flex;
  gap: 130px;
}
.discover-text h5 {
  position: relative;
  display: inline-block;
  margin-left: 65px;
  margin-top: 150px;
  font-family: "Univers LT Std", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  color: white;
}
.discover-text h5:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.discover-text h5:hover::after {
  background-color: white;
  transform: translateX(0);
}
.discover-text h5:hover {
  color: white;
}
.discover-sponsor {
  margin-left: 450px;
  cursor: pointer;
}
.discover-sponsor img {
  width: 130px;
  margin-top: 150px;
}

/* Inter History */
.inter-history {
  margin-top: 100px;
  background-color: black;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 30px;
  border-bottom: 1px solid grey;
}
.history-content {
  display: flex;
  gap: 50px;
}
.left img {
  border-radius: 10px;
  margin-left: 40px;
  height: 400px;
}
.right h2 {
  color: white;
  display: flex;
  margin-top: 20px;
  font-weight: bold;
  font-size: 55px;
  font-family: "Giorgio Sans Trial", sans-serif;
}
.right p {
  color: white;
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  margin-top: 20px;
}
.right button {
  padding: 10px;
  width: 150px;
  margin-top: 30px;
  border-radius: 5px;
  font-family: "Giorgio Sans Trial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  background-color: #011ea0;
  color: white;
  cursor: pointer;
}
.right button:hover {
  color: #011ea0;
  background-color: white;
}

/* Latest Headline */
.latest-headline {
  background-color: black;
  padding-bottom: 100px;
  border-bottom: 1px solid gainsboro;
}
.headline-title {
  color: white;
  display: flex;
}
.headline-title h1 {
  font-family: "Univers LT Std", sans-serif;
  font-weight: 500;
  font-size: 26px;
  margin-left: 65px;
  margin-top: 95px;
  cursor: default;
}
.headline {
  width: 90%;
  display: flex;
  overflow: scroll;
  margin-top: -30px;
}
.headline .headline-img {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 100px;
  flex: none;
}
.headline .headline-img img {
  width: 100%;
  transition: transform 0.5s;
}
.headline::-webkit-scrollbar {
  display: none;
}
.headline-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.img-button {
  display: flex;
  margin-top: -805px;
  margin-right: 60px;
  float: right;
}
#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
}
.headline-img {
  display: flex;
  color: white;
  margin-top: 10px;
  justify-content: left;
}
.headline-img img {
  width: 100%;
  height: 80%;
  cursor: pointer;
}
.headline-img h4 {
  font-family: "Univers LT Std", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 20px;
  cursor: default;
}
.headline-img p {
  font-family: "Univers LT Std", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

/* Honours */
.honours {
  background-color: black;
  padding-bottom: 100px;
  border-bottom: 1px solid gainsboro;
}
.honours h2 {
  font-family: "Univers LT Std", sans-serif;
  font-weight: 500;
  font-size: 26px;
  cursor: pointer;
  color: white;
  margin-left: 75px;
  padding-top: 90px;
}
.container1 {
  padding: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 > div {
  background-color: #011ea0;
  width: 200px;
  height: 350px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}
.container1 > div > img {
  margin-top: 20px;
  height: 110px;
  width: 90px;
}
.container1 > div > p {
  font-family: "Univers LT Std", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  margin-top: -80px;
}
.container1 > div > h4 {
  font-family: "Giorgio Sans Trial", sans-serif;
  color: white;
  margin-top: -50px;
  font-size: 80px;
}
.container2 {
  padding: 30px;
  margin-top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 > div {
  background-color: #011ea0;
  width: 200px;
  height: 350px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  line-height: 150px;
  font-size: 16px;
  cursor: pointer;
}
.container2 > div > img {
  margin-top: 10px;
  height: 110px;
  width: 90px;
}
.container2 > div > p {
  font-family: "Univers LT Std", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  margin-top: -80px;
}
.container2 > div > h4 {
  font-family: "Giorgio Sans Trial", sans-serif;
  color: white;
  margin-top: -50px;
  font-size: 80px;
}
.advertisement {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 30px;
}
.advertisement img {
  width: 900px;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 40px;
}
.footer-content {
  display: flex;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 50px;
  border-bottom: 15px solid white;
  align-items: center;
}
.footer-title {
  color: white;
  font-size: 70px;
  font-family: "Giorgio Sans Trial", sans-serif;
  cursor: default;
}
.footer-icon {
  display: flex;
  gap: 30px;
  flex-direction: column;
  position: absolute;
  margin-left: 160vh;
  margin-top: 30px;
  cursor: pointer;
}
.icon-upper {
  display: flex;
  gap: 30px;
}
.icon-lower {
  display: flex;
  gap: 30px;
}
.footer-section {
  display: flex;
  gap: 90px;
  font-family: "Univers LT Std", sans-serif;
  margin-left: 65px;
  margin-top: 10px;
}
.footer-links {
  margin-top: 40px;
}
.footer-links li {
  list-style: none;
}
.footer-info h4 {
  color: white;
  margin-bottom: 10px;
  font-weight: 500;
  cursor: default;
}
.footer-links a {
  position: relative;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  color: #abaaaa;
}
.footer-links a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.footer-links a:hover::after {
  background-color: white;
  transform: translateX(0);
}
.footer-links a:hover {
  color: white;
}
.footer-bottom {
  display: flex;
  gap: 300px;
  border-top: 1px solid gainsboro;
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 50px;
}
.footer-bottom p {
  color: white;
}
.bottom-left {
  margin-top: 50px;
  cursor: pointer;
}
.bottom-right {
  display: flex;
  margin-top: 50px;
  cursor: pointer;
}
